<h1>Register User</h1>
<form action="/register" method="POST">
<div>
    <input type="text" id="name" name="name" required placeholder="Enter User Name"><br><br>
    <input type="email" id="email" name="email" required placeholder="Enter Email"><br><br>
    <input type="password" id="password" name="password" required placeholder="Enter Password"><br><br>
    <!-- <input type="password" id="conPass" name="conPass" required placeholder="Confirm Password"><br><br> -->
    <button type="submit">Submit</button>
</div>
</form>
<a href="/login">Login</a>
